/**
 * Title:
 *    Content
 * Description:
 *    Content coming from the CMS
 * Sections:
 *    $. Content
 */



/* $. Content
\*----------------------------------------------------------------*/

.content {
    padding-right: $base*2;
    @include respond-min($bp4) {
        padding-right: $base*6;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    a:not(.btn) {
    }
}

.side-content {
    margin-top: $base*1.5;

    @include respond-min($bp3) {
        margin-top: 0;
    }
}

.section {
    padding: $base*1.5 0;
    @include respond-min($bp3) {
        padding: $base*2 0;     
    }
}

.section--large {
    padding: 0 0 $base*3;   

    @include respond-min($bp3) {
        padding: $base 0 $base*3;     
    }
}
