/**
 * Title:
 *    Footer
 * Description:
 *    Used to define the sites main footer at the bottom of the page.
 *    Don't use this as a place to put generic <footer> tags.
 * Sections:
 *    $. Footer
 *    $. Copyright
 */



/* $. Footer
\*----------------------------------------------------------------*/

footer {
    @extend %cf;
    position: relative;
    width: 100%;
    background-color: $white;
    padding: $base*1.5 0;
}


.footer__icons {
    text-align: center; 
    @include respond-min($bp3) {
         float: right;
    }

    li {
        margin-bottom: 0;
    }

    a {
        margin-right: $base;
        margin-bottom: 0;
        transition: all .35s ease;
        opacity: .7;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            opacity: 1;
        }
    }

}

.footer__contact {
    float: left;
}

.footer__item {
    float: left;
}


/* $. Copyright
\*----------------------------------------------------------------*/

.email {
    @extend %cf;
    text-align: center; 
    @include respond-min($bp3) {
         float: left;
    }
}
