/**
 * Title:
 *    Navigation
 * Description:
 *    The .nav module and its extensions
 * Sections:
 *    $. Variables
 *    $. Container
 *    $. Component
 *    $. Primary
 *    $. Secondary
 *    $. Tertiary
 */



/* $. Variables
\*----------------------------------------------------------------*/

$color-nav: $color-link;



/* $. Container
\*----------------------------------------------------------------*/

.nav-container {
    padding-top: $base*5;

    @include respond-min($bp3) {
        padding-top: $base/2;
        padding-bottom: 0;
    }
}



/* $. Component
\*----------------------------------------------------------------*/

.nav {
    @extend %cf;
    @extend %list--unset;
}




/* $. Primary
\*----------------------------------------------------------------*/

.nav--primary {
    text-align: center;
    padding-top: $base;

     @include respond-min($bp2) {
        padding-top: $base*4;
    }
    @include respond-min($bp4) {
        float: right;
        padding-top: 0;
    }
}

.nav__item {
    display: block;
    margin-bottom: 0;

    &.is-current .nav__link {
        background-color: lighten($grey, 5%);
    }

    @include respond-min($bp4) {
        display: inline-block;
        &.is-current .nav__link {
            background-color: inherit;
        }
    }

}

.nav__link {
    font-size: 1.4rem;
    display: block;
    color: $grey;
    padding: $base/2 $base;
    font-weight: $weight-thin;

    &:hover {
        color: darken($grey , 10%);
    }
    @include respond-min($bp3) {
        font-size: 2rem;
    }
    @include respond-min($bp4) {
        text-align: left;
        position: relative;
        color: $grey;
        font-size: .85rem;
        padding: 0 $base/1.5;
    
        &:hover {
            color: darken($color-brand, 15%);
        }
    }
    @include respond-min($bp4) {
       font-size: 1.1rem; 
    }
}

/* $. Shared styles
\*----------------------------------------------------------------*/



