/**
 * Title:
 *    Gallery
 * Description:
 *    Layout for Galleries and gallery items
 * Sections:
 *    $. Base
 *    $. Elements
 *    $. Modifiers
 */



/* $. Base
\*----------------------------------------------------------------*/

.gallery-list {
    @extend .list--unset;
}



/* $. Elements
\*----------------------------------------------------------------*/

.gallery-list__item {
    margin-bottom: 0;
    padding: 0;
}

.gallery-list__link {
    display: block;
    transition: border-color .3s;
    position: relative;
    border: solid $base/2 $white;

    &:hover {
        border-color: lighten($grey-light,20%);
    }

}



/* $. Elements
\*----------------------------------------------------------------*/

.gallery__heading {
    font-weight: 800;
    color: $color-text;
}

.gallery__icon {
    position: absolute;
    top: $base;
    right: $base;
    padding: $base/4;
    line-height: 0;
    z-index: $z-index-6;
}


.gallery__nav-left,
.gallery__nav-right {
    position: absolute;
    top: 0;
 }

.gallery__nav-left {
    right: 3%;
}
.gallery__nav-right {
    right: 0;
}

.gallery__caption {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    top: $base*0.75;
}

.gallery__nav {
    position: relative;
}
