/**
 * Title:
 *    Gallery
 * Description:
 *    Layout for Galleries and gallery items
 * Sections:
 *    $. Base
 *    $. Elements
 *    $. Modifiers
 */



/* $. Base
\*----------------------------------------------------------------*/

.gallery-list {
    @extend .list--unset;
}

.slideshow {
    margin: 0 auto; 
    width: 100%;
}

.portrait {
    height: 50vh;
    background-size: cover;

    @include respond-min($bp1) {
        height: 75vh;
    }
    @include respond-min($bp2) {
        height: 54em;
    }
    @include respond-min($bp3) {
        height: 32em;
        width: 50%;
        background-size: contain;
    }
    @include respond-min($bp4) {
        height: 44em;
    }
    @include respond-min($bp5) {
        height: 50em;
    }
}

.landscape {
     height: 18em;

     @include respond-min($bp1) {
        height: 30em;
    }
    @include respond-min($bp2) {
        height: 39em;
    }
    @include respond-min($bp3) {
        height: 41em;
    }
    @include respond-min($bp4) {
        height: 49em;
    }
    @include respond-min($bp5) {
        height: 67em;
    }
}

.gallery__image {
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0 auto;
    
}

/* $. Elements
\*----------------------------------------------------------------*/

.gallery-list__item {
    margin-bottom: 0;
    padding: 0;
}

.gallery-list__link {
    display: block;
    transition: border-color .3s;
    position: relative;
    border: solid $base/2 $white;

    &:hover {
        border-color: lighten($grey-light,20%);
    }

}



/* $. Elements
\*----------------------------------------------------------------*/

.gallery__heading {
    font-weight: 800;
    color: $color-text;
}

.gallery__icon {
    position: absolute;
    top: $base;
    right: $base;
    padding: $base/4;
    line-height: 0;
    z-index: $z-index-6;
}


.gallery__nav-left,
.gallery__nav-right {
    position: absolute;
    top: 4em;

    @include respond-min($bp1) {
        top: 0;  
    }
 }

.gallery__nav-left {
    right: 50%;

    @include respond-min($bp1) {
        right: 8%;
    }
     @include respond-min($bp3) {
        right: 5%;
    }
    @include respond-min($bp4) {
        right: 3%;
    }
}
.gallery__nav-right {
    right: 40%;

    @include respond-min($bp1) {
        right: 0;
    }
}

.gallery__caption {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    top: $base*0.75;
}

.gallery__nav {
    position: relative;
    margin-bottom: 3em;

    @include respond-min($bp1) {
        margin-bottom: 0;
    }
}
