/* Slider */

.slick-slider {
    position: relative;
    display: block;
    touch-callout: none;
    user-select: none;
    touch-action: pan-y;
    tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 100%;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    padding: $base/2;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow{
    margin-left: $base*5;

    &:hover{
        cursor: pointer;
    }

    &:first-child{
        margin-left: 0;
    }
}

.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin-left: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding-top: $base/2;
        cursor: pointer;
    }

    li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 5px;
        cursor: pointer;
        color: lighten ($color-brand, 10%);
        border: 0;
        outline: none;
        background: lighten ($color-brand, 10%);
        border-radius: 50%;
        content: '.';

        &:hover {
           color: $color-brand;
           background: $color-brand;
        }
    }

    li .slick-active {
        background: lighten ($color-brand, 10%);
    }
}
