/**
 * Mobile nav toggle
 */

.toggle {
    position: absolute;
    top: $base*1.2;
    right: $base*1.5;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    z-index: $z-index-5;

    @include respond-min($bp3) {
        display: none;
    }
}
