/**
 * Title:
 *   Background Video
 * Description:
 *    Styling for background video/gif
 * Sections:
 *    $. Component
 *    $. Modifications
 *    $. Text Styling
 *    $. Extras
 */


/* $. Component
\*----------------------------------------------------------------*/

.video-container {
  position: relative;
  display: table;
  height: 28em;
  width: 100%;
  overflow: hidden;

  @include respond-min($bp2) {
    height: 100vh;  
  }
}

/* $. Modification
\*----------------------------------------------------------------*/

.mobile-video {
  position: absolute;
   right: 0;
   top: 0;
   min-width: 100%;
   min-height: 28em;
   width: 100%;
   z-index: -100;
   background-image: url("/content/themes/wpst/assets/dist/img/jake-bg.jpg");
   background-size: cover;
   background-position: center;

  @include respond-min($bp2) {
     min-height: 1000px;
     background-position: 70% 0;
  }
   @include respond-min($bp4) {
      display: none;
   }
}

.video--background {
  display: none;
  @include respond-min($bp4) {
    background-color: $black;
    position: absolute;
    display: block;
     right: 0;
     top: 0;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     z-index: -100;
   }

   @include respond-min($bp5) {
      background-image: url("/content/themes/wpst/assets/dist/img/jake-bg.jpg");
   }
}


/* $. Text Styling
\*----------------------------------------------------------------*/

.video__strapline {
  color: $white;
  z-index: 10;
  text-align: center;
  margin-top: $base*7; 

    @include respond-min($bp1) {
      font-size: 1.65rem;
      margin-top: $base*5; 
    }
    @include respond-min($bp2) {
      margin-top: $base*10; 
    }
}

.video__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: $base; 
}



/* $. Extras
\*----------------------------------------------------------------*/

.video-tint,
.overlay-tint {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}



